<%- layout(`layouts/boilerplate`) %>


    <div class="row">
        <div class="text-centre">
            <div class="col-6 offset-3">

                <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate
                    class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" required name="campground[title]" id="title "
                            value="<%= campground.title %> ">
                        <div class="invalid-feedback">
                            Please provide a valid name.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">

                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" required name="campground[location]" id="location"
                            value="<%= campground.location %> ">
                        <div class="invalid-feedback">
                            Please provide a valid location.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">

                        <label class="form-label" for="image">image</label>
                        <input class="form-control" type="text" required name="campground[image]" id="image"
                            value="<%= campground.image %> ">
                        <div class="invalid-feedback">
                            Please provide a valid image link;
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="price">Campground Price</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" required name="campground[price]"
                                value="<%= campground.price %>">
                            <div class="invalid-feedback">
                                Please provide a valid price.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" name="campground[description]" id="description"
                            required><%= campground.description %>
                         required</textarea>
                        <div class="invalid-feedback">
                            Please provide a valid description.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <div class="mb-3">
                    <a href="/campgrounds/<%= campground._id %> ">Back</a>
                </div>
            </div>
        </div>
    </div>